@charset "UTF-8";

/* color codes
gold: #DBAA00;
green: #266141;
*/

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 18px; 
	margin-top: 5em;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #266141;
	padding-left: 2em;
	padding-top: 1em;
}

.rowBtn {
	justify-content: flex-start;
	padding-left: 270px;
}

.lastBtn {
	padding-left: 475px;
}

.progress {
	margin: 50px;
	width: 60em;
	height: 5em;
	margin-left: 180px;
}

.opensans-green {
	color: var(--green-pea);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
}

.container-center-vertical, .container-center-horizontal {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.sizing {
  background-color: var(--white);
  height: 1080px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.right-side {
	background-color: #266141;
	padding-left: 50px;
	padding-right: 50px;
}

.btn {
	outline: none;
	box-shadow: none;
}

.btn-prim {
	outline-color: #DBAA00 !important;
	box-shadow: none !important;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	background-color: #DBAA00;
	width: 200px;
}

.btn-prim:hover {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-color: #DBAA00;
	text-decoration: none;
	color: white;
}

.btn-prim:active, .btn-prim:visited, .btn-prim:focus {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background-color: #DBAA00;
	color: white;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:hover, .btn-secondary:visited, .btn-secondary:focus {
	outline-color: #DBAA00 !important;
	box-shadow: none !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	background-color: #266141;
	width: 200px;
	margin-bottom: 3em;
}

.btn-incomplete, .btn-incomplete:active, .btn-incomplete:hover, .btn-incomplete:visited, .btn-incomplete:focus {
	background-color: var(--green-pea-2);
	box-shadow: none !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	width: 200px;
	margin-bottom: 3em;
	color: white;
	margin-left: 5em;
}

.btn-tertiary {
	background-color: var(--green-pea-5);
	border-radius: 38px;
	height: 59px;
	left: 1320px;
	position: absolute;
	top: 275px;
	width: 204px;
}

.btn-quaternary {
	background-color: var(--green-pea-5);
	border-radius: 38px;
	height: 59px;
	left: 1553px;
	position: absolute;
	top: 275px;
	width: 204px;
}

.btn-outline-primary {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: white;
	outline-color: white;
	width: 200px;
}

.btn-outline-secondary {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px; 
	color: #266141;
	outline-color: #266141;
}

.yellowNotifAlert {
	background-color: var(--galliano);
	border-radius: 8.5px;
	height: 17px;
	left: 1813px;
	position: absolute;
	top: 68px;
	width: 17px;
}

.numOfNotif {
	background-color: transparent;
	height: auto;
	left: 1819px;
	letter-spacing: 0.00px;
	line-height: 11px;
	position: absolute;
	text-align: left;
	top: 70px;
	width: 30px;
}

.numText {
	color: var(--white);
	font-family: 'Open Sans', Helvetica;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
}

.employee-border {
	border-style: solid;
	border-width: 1px;
}

.clientBackground {
  background-color: var(--green-pea-5);
  border-radius: 29px;
  height: 640px;
  left: 190px;
  position: absolute;
  top: 357px;
  width: 1593px;
}
.green-header {
	background-color: var(--green-pea-4);
	height: 179px;
	left: -0px;
	position: absolute;
	top: -0px;
	width: 1921px;
}

.center {
	text-align: center;
	color: white;
	margin-top: 15px;
}

.trajan {
	font-family: trajan-pro-3, serif;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	color: white;
	margin-top: 70px;
}

.trajan2 {
	font-family: trajan-pro-3, serif;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	color: #266141;
	margin-top: 70px;
}

.trajan3 {
  color: var(--green-pea);
  font-family: trajan-pro-3, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
}

.name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding-left: 15px;
	padding-top: 35px;
	color: white;
}

.search {
	margin-top: 35px;
	margin-left: 37em;
}

.message {
	margin-top: 35px;
	margin-left: 1em;
}

.notifIcon {
	margin-top: 35px;
	margin-left: 1em;
}

.invdash {
	background-color: #266141;
}

.invDash2 {
	background-color: #DBAA00;
}

.dashLabel, .dashLabel:hover {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-top: 10px;
	padding-left: 35px;
}

.dashDesc {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 25px;
	padding-left: 45px;
}

